<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
    <link rel="stylesheet" type="text/css" href="__HDIST__/source/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__HDIST__/a/a.css" />

    <style>
        .box {
            position: fixed;
            width: 100%;
            top: 30%;
            transform: translateY(-50%)
        }

        .title {
            text-align: center;
            font-size: 30px;
        }

        .v {
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>

<body>

    <div class="box">
        <div class="title">
            微商城
        </div>
        <div class="v">
            版本V0.0.1
        </div>
    </div>

    <include file="App/Home/View/component/nav.comp.html" ss='3' />

    <script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="__HDIST__/a/a.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>