<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>我的订单</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/source/font/iconfont.css" />
	<link href="__VENDOR__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="__HDIST__/a/a.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/prompt/css/prompt.css" />

	<link rel="stylesheet" type="text/css" href="__HDIST__/myOrder/css/myOrder.css" />
	<style>
		body {
			background-color: #f8f8f8;
		}

		.goods-group {
			background-color: #fff;
			margin: 10px 0;
			font-size: 14px;
		}

		a {
			text-decoration: none;
			color: #777777;
		}

		a:focus,
		a:hover {
			color: #777;
			text-decoration: none;

		}

		.goods-group-head {
			border-bottom: solid 1px #ddd;
		}


		.add-time {
			width: 49%;
			display: inline-block;
			border-right: solid 1px #ddd;
			padding: 10px 0;
			text-align: center;
		}

		.goods-list {
			padding: 0 20px;
		}

		.goods-item {
			position: relative;
			border-bottom: solid 1px #ddd;
			padding: 10px 0;
			margin: 0;
		}

		.goods-item-img {}

		.goods-item-img img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		.goods-item-title {
			position: absolute;
			padding-left: 15px;
		}

		.goods-item-info {
			position: absolute;
			bottom: 10px;
			width: 100%;
			padding-left: 70px;

		}

		.goods-item-info .num {
			text-align: right;
			float: right
		}

		.am-tabs-bd .am-tab-panel {
			padding: 0;
		}

		.goods-group-footer {
			position: relative;
			padding: 10px;
			text-align: right;
		}

		.sub-money {
			display: inline-block;
			padding: 0 10px;
		}

		.tool-btn {
			border: solid 1px #ddd;
			padding: 5px 10px;
			border-radius: 3px;
			display: inline-block;
			color: #777777;
		}
	</style>

</head>

<body>

	<!--选项卡开始-->
	<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
		<ul class="am-tabs-nav am-cf">
			<li class="<if condition='$_pages == -1' >am-active</if>">
				<a href="[data-tab-panel-0]">全部</a>
			</li>
			<li class="<if condition='$_pages == 1+1' >am-active</if>">
				<a href="[data-tab-panel-1]">待付款</a>
			</li>
			<li class="<if condition='$_pages == 2+1' >am-active</if>">
				<a href="[data-tab-panel-2]">待发货</a>
			</li>
			<li class="<if condition='$_pages == 3+1' >am-active</if>">
				<a href="[data-tab-panel-3]">待收货</a>
			</li>
			<li class="<if condition='$_pages == 4+1' >am-active</if>">
				<a href="[data-tab-panel-4]">交易成功</a>
			</li>
			<li class="<if condition='$_pages == 5+1' >am-active</if>">
				<a href="[data-tab-panel-5]">退款/售后</a>
			</li>
		</ul>
		<div class="am-tabs-bd">
			<volist name='order' id='vol' empty='' key='index'>
				<if condition='$index === 1 '>
					<div data-tab-panel-{$index} class="am-tab-panel <if condition='$_pages == -1' >am-active</if>">
						<volist name='vol' id='vo' empty='没有订单数据！'>
							<div class="goods-group">
								<div class="goods-group-head" data-order-id='{$vo.order_info.order_id}'>
									<span class="add-time">
										{$vo.order_info.t1_add_time}
									</span>
									<span class="add-time">
										{$vo.order_info.order_id}
									</span>

								</div>
								<volist name='vo.goods_list' id='v' empty='没有订单数据！'>
									<div class="goods-list">
										<div class="goods-item" data-goods-id='{$v.goods_id}'>
											<span class="goods-item-img">
												<img src="__ROOT__{$v.head_img}" alt="">
											</span>
											<span class="goods-item-title">
												{$v.goods_title}
											</span>
											<div class="goods-item-info">
												<span class="money">
													￥{$v.goods_money}
												</span>
												<span class="num">
													x{$v.num}
												</span>
											</div>

										</div>
									</div>
								</volist>

								<div class="goods-group-footer">
									<span class="sub-money">
										订单总价：￥{$vo.order_info.order_money}
									</span>
								</div>

							</div>
						</volist>
					</div>
					<else/>
					<div data-tab-panel-{$index} class="am-tab-panel <if condition='$index == $_pages' >am-active</if>">

						<volist name='vol' id='vo' empty='没有订单数据！'>
							<div class="goods-group">
								<div class="goods-group-head" data-order-id='{$vo.order_info.order_id}'>
									<span class="add-time">
										{$vo.order_info.t1_add_time}
									</span>
									<span class="add-time">
										{$vo.order_info.order_id}
									</span>
								</div>
								<volist name='vo.goods_list' id='v' empty='没有订单数据！'>
									<div class="goods-list">
										<div class="goods-item" data-goods-id='{$v.goods_id}'>
											<span class="goods-item-img">
												<img src="__ROOT__{$v.head_img}" alt="">
											</span>
											<span class="goods-item-title">
												{$v.goods_title}
											</span>
											<div class="goods-item-info">
												<span class="money">
													￥{$v.goods_money}
												</span>
												<span class="num">
													x{$v.num}
												</span>
											</div>
										</div>
									</div>
								</volist>

								<div class="goods-group-footer">
									<span class="sub-money">
										订单总价：￥{$vo.order_info.order_money}
									</span>
									<!-- {$index} -->
									<if condition='$index === 2 '>
										<a href='__MODULE__/Order/cancel/order_id/{$vo.order_info.order_id}/pages/{$index}' class="tool-btn">取消订单</a>
										<a href='javascript:;' class="tool-btn gofk">去付款</a>
									</if>

									<if condition='$index === 3 '>
										<a href='javascript:;' class="tool-btn txfh">提醒发货</a>
										<!-- <a href='__MODULE__/Order/remind/order_id/{$vo.order_info.order_id}' class="tool-btn">提醒发货</a> -->
									</if>
									<if condition='$index === 4 '>
										<a href='__MODULE__/Order/ok/order_id/{$vo.order_info.order_id}/pages/{$index}' class="tool-btn">确认收货</a>

										<br>【快递单号】{$vo.order_info.order_on}
										<br>【快递公司】{$vo.order_info.order_gs}


									</if>
									<if condition='$index === 5 '>
										<a href='__MODULE__/Order/sc/order_id/{$vo.order_info.order_id}/pages/{$index}' class="tool-btn">售后</a>
									</if>
									<if condition='$index === 6 '>
										<div style="color:#f00;padding:5px 20px ;">
											<div>
												退款类型：{$vo.order_info.sc_type}
											</div>
											<div>
												退款详情：{$vo.order_info.sc_info}
											</div>
											<div>
												处理结果：
												<if condition='$vo["order_info"]["state"] == 5 '>
													已处理
												</if>
												<if condition='$vo["order_info"]["state"] == 4 '>
													正在处理
												</if>
											</div>
										</div>
									</if>
								</div>

							</div>

						</volist>



					</div>
				</if>

			</volist>





		</div>
	</div>
	<!--选项卡结束-->

	<!--底部导航开始-->
	<include file="App/Home/View/component/nav.comp.html" />
	<!--底部导航结束-->


	<div class="zf-box" data-index='0'>
		<div class="title">
			<i class="fa fa-weixin"></i>
			扫描二维码付款
			<i class="fa fa-remove close"></i>
		</div>
		<div class="box-body">
			<img src="__ROOT__/wx.jpg" alt="">
			<p>长按识别二维码，添加客服微信号即可下单</p>
		</div>
	</div>
	<div class="zz-box" data-index='0'></div>



	<script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/myOrder/js/myOrder.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/prompt/js/prompt.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/a/a.js" type="text/javascript" charset="utf-8"></script>

	<script>

		(function () {
			var eventName = 'click touchstart';
			var el = '.goods-item';
			var fun = function (event) {

				var $this = $(this);
				var id = $this.attr('data-goods-id');

				window.location.href = '__MODULE__/goodsInfo/goodsInfo/goods_id/' + id + '/pages/3';
				w(id);
			}
			$(document).on(eventName, el, fun);

		}());
		(function () {
			var eventName = 'click touchstart';
			var el = '.goods-group-head';
			var fun = function (event) {

				var $this = $(this);
				var id = $this.attr('data-order-id');
				w(id);

				// window.location.href = '__MODULE__/goodsInfo/goodsInfo/goods_id/' + id;
			}

			$(document).on(eventName, el, fun);

		}());
		(function () {
			var eventName = 'click touchstart';
			var el = '.gofk';
			var fun = function (event) {

				var $this = $(this);
				var id = $this.attr('data-order-id');
				showPanel('0');

			}

			$(document).on(eventName, el, fun);

		}());

		(function () {
			var eventName = 'click touchstart';
			var el = '.txfh';
			var fun = function (event) {

				var $this = $(this);
				var id = $this.attr('data-order-id');

				prompt.show({
					text: '提醒成功~',
					position: 'bottom'
				})

			}

			$(document).on(eventName, el, fun);

		}());

	</script>


</body>

</html>