<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
    <link rel="stylesheet" type="text/css" href="__VENDOR__/mui/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="__VENDOR__/mui/css/mui.indexedlist.css" />
    <link rel="stylesheet" type="text/css" href="__HDIST__/source/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__HDIST__/a/a.css" />
    <link rel="stylesheet" type="text/css" href="__HDIST__/brand/css/brand.css" />

    <style>
        .am-header {
            padding: 1px;
            height: auto;
        }

        .test * {
            display: inline-block;
        }

        .test input {
            width: 80%;
        }

        .mui-bar .mui-input-row .mui-btn {
            background-color: #ffffff;
            padding: 6px;
        }

        .box {
            position: absolute;
            top: 50px;
            bottom: 50px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <!--顶部的搜索框 开始-->
    <header class="mui-bar mui-bar-nav">
        <div class="mui-input-row mui-search">
            <form action="" method="post">
                <div class="test">
                    <input type="search" class="mui-input-clear" name="key" placeholder="搜索喜欢的宝贝">
                    <button type="submit" class="mui-btn mui-btn-outlined">搜索</button>
                </div>
            </form>
        </div>
    </header>


    <div class="box">
        <div class="p-b-100 pbl">

            <volist name="goods" id="vo" empty="">
                <div class="goods-list-box">
                    <a href="__MODULE__/goodsInfo/goodsInfo/goods_id/{$vo.goods_id}">
                        <div class="goods-list">
                            <div class="goods-img am-text-middle">
                                <img src="__ROOT__{$vo.head_img}" class="am-text-middle" alt="图片错误！">
                            </div>
                            <div class="goods-info">
                                <div>{$vo.goods_title}</div>
                                <div>{$vo.money}￥</div>
                            </div>
                        </div>
                    </a>
                </div>
            </volist>
        </div>
    </div>


    <!--底部的导航栏 开始-->

    <include file="App/Home/View/component/nav.comp.html" />

    <!--底部的导航栏 开始-->
    <script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="__VENDOR__/swiper/3.4.2/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <script>

        var mySwiper = new Swiper('.swiper-containerl', {
            pagination: '.swiper-paginationl',
            paginationClickable: true,
        })

    </script>


    <script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
    <script src="__HDIST__/a/a.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        // gotop2(".gallery-top .swiper-slide");


        login();
        function login() {
            //微信登录
            w(1);

        }


        var swiperH = new Swiper('.swiper-container-h', {
            spaceBetween: 50,
            pagination: {
                el: '.swiper-pagination-h',
                clickable: true,
            },
        });

        var swiperV = new Swiper('.swiper-container-v', {
            direction: 'vertical',
            spaceBetween: 50,
            pagination: {
                el: '.swiper-pagination-v',
                clickable: true,
            },
        });


		//          轮播图样式

    </script>
</body>

</html>