<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>顶部--input</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/source/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/a.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/topInput/css/topInput.css" />
	</head>

	<body>
		<!--顶部导航栏 ----input版本 样式在a.css里边和topInput.css都有topInput.css里边改变的是header的行高和再把框架里的input改成inline-block-->
		<header data-am-widget="header" class="am-header am-header-default a-black top-banner">
			<input type="text" class="am-form-field am-round top-input " placeholder="搜索喜欢的宝贝" />
		</header>
		
		<script src="../../vendor/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>