<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>图文</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/goodsList/css/goodsList.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/a.css" />

	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/user.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/user.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="goods-list">
						<img src="../../dist/source/img/weishop.png" />
						<div class="goods-info">
							<div>的你开的纽扣电池</div>
							<div>￥444.99</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script src="../../vendor/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/goodsList/js/goodsList.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/a/a.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			返回顶部
			gotop();

	
		</script>
	</body>

</html>