<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>底部导航栏</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/bottomNav/css/bottomNav.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/source/font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../dist/a/a.css"/>
	</head>

	<body>

		<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
			<ul class="am-navbar-nav am-cf am-avg-sm-4 a-black">
				<li>
					<a href="#" class="">
						<span class="iconfont icon-fangzicopy"></span>
					</a>
				</li>
				<li>
					<a href="#" class="">
						<span class="iconfont icon-pinpai1"></span>
					</a>
				</li>
				<li>
					<a href="#" class="">
						<span class="iconfont icon-gouwuche"></span>
					</a>
				</li>
				<li>
					<a href="#" class="">
						<span class="iconfont icon-gerenzhongxin"></span>
					</a>
				</li>
			</ul>
		</div>

		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/bottomNav/js/bottomNav.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>