<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>顶部--左中右</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/source/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/a.css" />
	</head>

	<body>
		<header data-am-widget="header" class="am-header am-header-default a-black a-fixed">
			<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
					<span class="iconfont icon-gengduo"></span>
				</a>
			</div>
			<h1 class="am-header-title">
	          <a href="#title-link" class="">
	            ITARIS KINGOOM
	          </a>
      	    </h1>
			<div class="am-header-right am-header-nav">
				<a href="#right-link" class="">
					<span class="iconfont icon-gengduo"></span>
				</a>
			</div>
		</header>
		<script src="../../vendor/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>