<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>收货地址管理</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/mui/css/mui-app.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/mui/css/icons-extra.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/a.css" />
	</head>

	<body>

		<div id="managementAddress">
             <!--顶部导航栏-->
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
                    <span class="mui-icon mui-icon-left-nav a-font-black"></span>
                </button>
				<h1 class="mui-center mui-title">收货地址</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right a-font-black"></a>
			</div>
 			<!--下边的卡片-->
			<div class="mui-content">
				<div class="mui-card">
					<div class="mui-card-header">
						<span class="name">姓名</span>
						<span class="telephone">13864291005</span>
					</div>
					<div class="mui-card-content">
					</div>
					<div class="mui-card-footer">
						<div class="tubiao">
							<div>
								<span class="mui-badge mui-badge-danger mui-badge-inverted">默认地址</span>
							</div>
						</div>
						内容
					</div>
				</div>
			</div>
		</div>

		<script src="../../vendor/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/mui/js/mui.view.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/jquery/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>